@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Forth", sans-serif;
  font-size: 15px;
  line-height: 1.188;
}

body {
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
  height: 100%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.631rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5, h6 {
  font-size: 1rem;
}

